<form class="w-50 mx-auto mt-5">
    <div class="form-group">
        <div>
          <input type="email" class="form-control" placeholder="Enter email" id="email" #userName required>
        </div>
        <div class="alert alert-danger" role="alert">
          Authentication error!
        </div>
    </div>
    <div class="form-group">
        <div>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd" #userPassword required>
        </div>
        <div class="alert alert-danger" role="alert">
          Authentication error!
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-warning w-100" (click)="authService.GoogleAuth()"><span style="float: left;"><i class="fab fa-google"></i></span>Google</button>
            </div>
            <div class="ml-.5 mr-.5">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary w-100"><span style="float: left;"><i class="fab fa-facebook"></i></span>Facebook</button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success w-100" (click)="authService.SignIn(userName.value, userPassword.value)">Submit</button>
</form>
